@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;

}
/* .grid-global{
  width: 100%;
  max-width: 116.25rem;
  margin: 0 auto;
  padding: 0px 30px;
  position: relative;
} */

:root{
  --color-black: #000000;
  --color-gray: #151515;
  --color-gray-texts: #D4D4D8;
  --color-verde-claro: #C6F432;
  --color-verde-medio: #ACCA4A;
  --color-verde-escuro: #8EA055;
}
a{
  cursor: pointer;
}