.container-cadastros{
    width: 100%;
    height: 100vh;
    display: flex;
}
.sec-login{
    width: 50%;
    background-color: var(--color-black);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--color-gray-texts);
}
.sec-login .login{
    width: 100%;
    max-width: 36.375rem;
    height: 45.125rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 25px;
}
.p-text{
    margin-top: 25px;
}
.p-text p{
    font-size: 19px;
    font-weight: 300;
    line-height: 44px;
}
.sec-campos{
    width: 528px;
}
.sec-campos p{
    text-align: end;
    font-size: 13px;
    font-weight: 500;
    line-height: 133%;
    margin-top: 13px;
    right: 0;

}

.campos-btn{
    width: 100%;
    max-width: 528px;
    height: 67px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10.986px;
    color: var(--color-black);
    background-color: var(--color-verde-claro);
    margin-top: 32px;
}
.p2{
    margin-top: 10px;
}
.p2 a{
    color: var(--color-verde-claro);
    cursor: pointer;
}




.sec-opcoes{
    width: 50%;
    background-color: var(--color-gray);
    display: flex;
    align-items: center;
    justify-content: center;
}
.sec-opcoes .opcoes{
    width: 100%;
    max-width: 789px;
    height: 853px;
    display: flex;
}

.agil{
    width: 100%;
    max-width: 385px;
    height: 430px;
    background-color: var(--color-verde-claro);
    border-radius: 30px;
    display: flex;
    flex-direction: column;
    align-items: center;

}
.agil .agil-text{
    width: 100%;
    max-width: 317px;
    align-items: end;
    margin-top: 208px;
}
.agil .agil-text h2{
    font-size: 67px;
    font-weight: 400;
    line-height: 125%;
}
.agil .agil-div{
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 317px;
    margin-top: 35px;
}
.divisao{
    width: 100%;
    max-width: 385px;
    display: flex;
    flex-direction: column;
    margin-left: 16px;
}

.eficiencia{
    width: 100%;
    max-width: 385px;
    height: 206px;
    background-color: var(--color-verde-medio);
    border-radius: 30px;
}
.seguro{
    width: 100%;
    max-width: 385px;
    height: 206px;
    background-color: var(--color-verde-escuro);
    border-radius: 30px;
    margin-top: 16px;

}